<a href="https://colab.research.google.com/github/asnguoias124/XuLyDuLieuLon_DuongCaoMinhNhat_51704078/blob/main/Baitap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip install pyspark
import pyspark

from pyspark import SparkConf, SparkContext
import collections
import numpy as np
import pandas as pd
from google.colab import drive
import collections
df = pd.read_csv('store_data.csv')
df.head()

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

           shrimp    almonds     avocado  ... frozen smoothie spinach olive oil
0         burgers  meatballs        eggs  ...             NaN     NaN       NaN
1         chutney        NaN         NaN  ...             NaN     NaN       NaN
2          turkey    avocado         NaN  ...             NaN     NaN       NaN
3   mineral water       milk  energy bar  ...             NaN     NaN       NaN
4  low fat yogurt        NaN         NaN  ...             NaN     NaN       NaN

[5 rows x 20 columns]